.container{
    width: 100%;
}
.big_logo{
    width: 10%;
    /*width: 300px;*/

}

.action_choices_div{
    /*vertical-align: top;*/
    align-content: center;
    width: 90%;
    margin:auto;
}
.choice_button{

}

.location_box {
    border: 2px solid black;
    display: inline-block;
    width: 18%;
    height: 50%;
    vertical-align: top;
    margin: auto;
    padding: 1em;
    text-align: center;
}
.name{
    font-size: 22pt;
    font-weight: bold;
}

.adventure_log{
    border: 2px solid greenyellow;
    width: 90%;

}
